/* Home.css */

h2,
.explore-title {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 24px;
  color: #333;
}

.explore-title {
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 20px;
}

.product-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-item {
  width: 30%;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover img {
  transform: scale(1.1);
}

.grid-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.grid-item p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

/* Medium screens */
@media (max-width: 768px) {
  .product-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .grid-item {
    width: 100%;
  }

  .grid-item img {
    max-width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }

  .grid-item p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin-top: 8px;
  }

  h2,
  .explore-title {
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

/* Smaller screens */
@media (max-width: 576px) {
  .grid-item {
    width: 100%;
  }

  h2,
  .explore-title {
    text-decoration: underline;
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 40px;
    padding-left: 20px;
  }

  .footer {
    padding: 10px;
  }
}
