/* Add this styling to your CSS */
.product-grid {
  display: flex;
  flex-wrap: wrap;
}

.product-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-card {
  display: flex;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.product-image img {
  max-width: 70px;
  max-height: 70px;
  margin-right: 10px;
}

.product-details {
  flex: 2;
  display: block;
  word-wrap: break-word;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
}